extends layout

block content
  canvas(id="canvas")
  button#clearButton.circular.huge.ui.icon.button.basic
    i.trash.icon
  a#downloadButton.circular.huge.ui.icon.button.blue(download="fluxnote-export.png")
    i.download.icon
  script(src='https://cdnjs.cloudflare.com/ajax/libs/fabric.js/1.7.19/fabric.js')
  script(src="js/desktop.js")