extends layout

block content
  <canvas id="canvas" width="300" height="200"></canvas>

  script(src="js/drawing/fabric.js")
  button(type="button" onclick="canvas.clear()") Clear
  script(src="js/main.js")
