extends layout

block content
  #canvas-buttons
    .calibrate
      .calibrate-button Calibrate
    .brush-options
      -let brushtypes = ['Thick', 'Thin', 'Airbrush', 'Erase']
      each brush in brushtypes
        .brush-button #{brush}

  button(type="button" onclick="canvas.clear()") Clear
  script(src="js/device.js")
