extends layout

block content
  div.ui.basic.modal
    div.ui.header Calibrating...
    div.ui.content 
      p Please keep any magnetic objects away from the device.
  #canvasButtons.ui.grid.one.column.centered
    .ui.row.centered
      .ui.buttons
        button.ui.size.button.massive(data-width="1") S
        button.ui.size.button.massive(data-width="5") M
        button.ui.size.button.massive(data-width="10") L
    .ui.buttons
      button.color.ui.button.massive.black(data-color="black") Black
      button.color.ui.button.massive.red(data-color="red") Red
      button.color.ui.button.massive.blue(data-color="blue") Blue
    .ui.row.centered
      button#clearCanvas.ui.basic.button.massive Clear Canvas
    button#calibrateSensor.circular.massive.ui.icon.button.red
      i.crosshairs.icon

  script(src="js/positioning.js")
  script(src="js/device.js")
