extends layout

block content
  #canvas-buttons.ui.grid.one.column.centered
    .ui.row.centered
      .ui.icon.buttons
        button.ui.button.massive
          i.bold.icon
        button.ui.button.massive
          i.bold.icon
        button.ui.button.massive
          i.bold.icon
    .ui.buttons
      button.color.ui.button.massive.black(data-color="black") Black
      button.color.ui.button.massive.red(data-color="red") Red
      button.color.ui.button.massive.blue(data-color="blue") Blue
    .ui.row.centered
      button#clearCanvas.ui.button.massive Clear Canvas
    .ui.row
      .ui.column.fourteen.wide.right.aligned
        button.circular.massive.ui.icon.button.red
          i.crosshairs.icon

  script(src="js/positioning.js")
  script(src="js/device.js")
