body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: #f2f2f2!important;
}

a {
  color: #00B7FF;
}

#canvasButtons{
  padding-top: 30px;
}

#calibrateSensor {
  position: absolute;
  bottom: 24px;
  right: 24px;
}