body{

}

.canvas-buttons{
  height: 40px;
  width: 100px;
}

.calibrate{
  display: inline-block;
  position: relative;
  width: 20%;
}

.brush-options{
  display: inline-block;
  position: relative;
  width: 80%;
}

.calibrate-button{
  height: 20px;
  width: 40px;
  background-color: grey;
  color: black;
  border-radius: 5px;
}

.brush-button{
  display: inline-block;
  height: 20px;
  width: 40px;
  background-color: white;
  color: black;
  border-radius: 5px;
  border: 1px solid black;
}